:root{
    --vermelho:#E50914;
    --preto:#141414;
    --blue:#2196F3;
    --background:rgb(25 42 50);
    --colorItem:rgb(31 53 64);
    --colorItemHover:rgb(31 60 64);
    --colorX:#31c3be;
    --colorO:#f1b237;
    --gray:#a6bec8;
    --finally:#1f3540;
}

@media screen and (min-width: 450px) {:root{ --width: 250px;}}
@media screen and (max-width: 451px) {:root{ --width: 100%;}}

@media screen and (min-width: 440px) {body{ font-size: 37px;}}
@media screen and (max-width: 439px) {body{ font-size: 8.4vw;}}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--background);
}

aside{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: calc(100vh - 3em);
    width: var(--width);
    flex-direction: column;
    align-items: flex-end;
    padding: 0 .5em;
    transition: 0.5s width;
    background-color: rgb(17 33 43);
    color: var(--gray);
}

aside .close{
    padding: 1em 0;
}

aside .close i {
    cursor: pointer;
    font-size: 2em;
}

nav{
    display: flex;
    background-color: var(--finally);
    min-height: 3em;
    position: fixed;
    width: 100%;
    align-items: center;
    color: var(--gray);
    padding: 0 1.5em;
    justify-content: space-between;
}

nav h1{
    font-size: 1em;
}

nav div{
    line-height: 1;
}

nav i{
    cursor: pointer;
    font-size: 1.5em;
}

.boxGame{
    display: flex;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headBox{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5em;
    max-width: 400px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.headBox .players{
    display: inline-flex;
    align-items: center;
}

.headBox .players .first{
    color: var(--colorX);
    font-size: 1.5em;
    margin-right: 10px;
}

.headBox .players .second{
    color: var(--colorO);
    font-size: 1.3em;
}

.headBox .turn{
    display: inline-flex;
    width: 100%;
    height: 100%;
    line-height: 0;
    justify-content: center;
    align-items: center;
    border-radius: .25em;
    padding: .25em;
    box-shadow: rgb(17 33 43) 0 2px;
    background-color: var(--colorItem);
    color: var(--gray);
    font-weight: 900;
    
}

.headBox .turn .fas{
    margin-right: 5px;
}

.headBox .boxRefresh{
    text-align: right;
}

.headBox .boxRefresh .refresh{
    background-color: var(--gray);
    padding: .5em;
    border-radius: 10%;
    box-shadow: rgb(17 33 43) 5px 5px 2px;
    cursor: pointer;
    font-size: 1em;
}

.headBox .refresh:hover{
    background-color: #819199;
}

.headBox .refresh:active{
    background-color: #819199;
    box-shadow: rgb(17 33 43) 0 0 2px;
}

.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 90%;
    max-width: 400px;
}

.box .item{
    display: inline-flex;
    width: 100%;
    padding: 50%;
    font-size: 3em;
    line-height: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: rgb(17 33 43) 5px 5px 2px;
    background-color: var(--colorItem);
}

.box .item:hover{
    background-color: var(--colorItemHover);
}

.box .item:active, .box .item.ativo{
    background-color: var(--colorItemHover);
    box-shadow: rgb(17 33 43) 0 0 2px;
}

.box .item.ativo.fatimes{
    background-color: var(--colorX);
}

.box .item.ativo.fadotcircle{
    background-color: var(--colorO);
}

.box .item.ativo.fatimes i, .box .item.ativo.fadotcircle i{
    color: white
}

.box .item i{
    position: absolute;
}

.box .item .fa-times{
    color: var(--colorX);
}

.box .item .fa-dot-circle{
    font-size: .8em;
    color: var(--colorO);
}

.scoreboard{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    max-width: 400px;
    justify-content: space-between;
    margin-top: 20px;
    font-size: .75em;;
}

.scoreboard .score{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 0;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    box-shadow: rgb(17 33 43) 5px 5px 2px;
    font-weight: bold;
}

.scoreboard .score.player1{
    background-color: var(--colorX);
}

.scoreboard .score.draw{
    background-color: var(--gray);
}

.scoreboard .score.player2{
    background-color: var(--colorO);
}

.boxFinally{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: rgba(0,0,0,.5);
}

.boxFinally .finally{
    width: 100%;
    text-align: center;
    background-color: var(--finally);
    padding: 2em 0;
}

.boxFinally .finally .boxButtons{
    display: flex;
    width: 90%;
    max-width: 400px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.boxFinally .finally .boxButtons div{
    display: inline-flex;
    flex-direction: column;
    width: auto;
    padding: .5em 2em;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    box-shadow: rgb(17 33 43) 5px 5px 2px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
    font-size: .7em;
}

.boxFinally .finally .boxButtons div:active{
    box-shadow: rgb(17 33 43) 0 0 2px;
}

.boxFinally .finally .boxButtons div.quit{
    background-color: var(--gray);
    margin-right: .5em;
}

.boxFinally .finally .boxButtons div.next{
    background-color: var(--colorO);
}

.finally h2{
    color: var(--gray);
    font-size: 1.75em;
}

.finally .champion .fas{
    margin-right: .25em;
}

.finally .champion.fatimes{
    color: var(--colorX);
}

.finally .champion.fadotcircle{
    color: var(--colorO);
}

.finally .champion.empate{
    color: var(--gray);
}

.finally .champion{
    font-size: 2em;
}